<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Ficbook Parser</title>
      <script src="/static/https_redirector.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="status"></div>
    <div id="result"></div>
    <section class="welcome">
      <span>Ficbook Parser</span>
    </section>
    <section class="login hidden">
      <form action="" onsubmit="return false">
        <input
          type="text"
          name="uname"
          id="uname"
          placeholder="Your username"
          required
       >
        <input
          type="password"
          name="upswd"
          id="upswd"
          placeholder="Your password"
          required
       >
        <h3 id="errmsg" class="hidden">Wrong credentials</h3>
        <p>
          By submitting, you consent that only you are responsible for any
          consequences possibly caused by this program.
        </p>
        <input type="submit" value="Submit" id="submit">
      </form>
    </section>
    <section class="loading hidden">
      <div id="loading-text">Starting</div>
      <div id="loading-dots">...</div>
    </section>
    <section class="results hidden">
      <div class="container">
        <div class="profile">
          <img src="" alt="Avatar">
          <span>Username</span>
        </div>
        <div class="content">
          <ul>
            General info:
            <li>Total pages read: <span>23635</span></li>
            <li>Total fanfics read: <span>536</span></li>
            <li>
              The most liked fandom is '<span>Fanfic</span>' with
              <span>470</span> fanfics read.
            </li>
            <li>
              The most recently you read '<span>An interesting title</span>'
              from '<span>Just another fandom</span>'.
            </li>
          </ul>
          <ul>
            Fandom info:
            <li>Total pages read: <span>23635</span></li>
            <li>Total fanfics read: <span>536</span></li>
            <li>
              The most liked fandom is <span>Fanfic</span> with
              <span>470</span> fanfics read.
            </li>
            <li>
              The most recently you read '<span>An interesting title</span>'
              from '<span>Just another fandom</span>'.
            </li>
          </ul>
        </div>
      </div>
    </section>
    <script src="/static/index.js"></script>
  </body>
</html>
