<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Ficbook Parser</title>
    <meta
      name="description"
      content="Simple Ficbook parser for read fanfictions list.
    This tool will help you to see some statistics of your Ficbook profile, scanning all your read fanfiction list and getting their name, fandoms, and amount of pages."
   >
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <section class="description">
      <div>
        <h1>
          Simple Ficbook parser for read fanfictions list
        </h1>
        <p>
            This tool will help you to see some statistics of your Ficbook profile,
        scanning your read fanfiction list and getting their name, fandoms,
        and amount of pages.
        </p>
        <br>
        <span>If you are ready, press start!</span>
        <form action="/" method="post">
          <input type="submit" value="Start">
        </form>
      </div>
    </section>
  </body>
</html>
