<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Парсер Книги Фанфиков</title>
    <script src="/static/https_redirector.js"></script>
    <meta
      name="description"
      content="Простой парсер Книги Фанфиков для прочитанных работ. 
      Этот сайт поможет вам увидеть некоторую статистику вашего Фикбук профиля, сканируя ваш список прочитанных работ и выделяя их имена, фэндомы и количество страниц."
    >
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <section class="description">
      <div>
        <h1>
            Простой парсер Книги Фанфиков для прочитанных работ
        </h1>
        <p>
            Этот сайт поможет вам увидеть некоторую статистику вашего Фикбук профиля,
            сканируя ваш список прочитанных работ и выделяя их имена, фэндомы и количество страниц.
        </p>
        <br >
        <span>Если готовы, тогда нажмите на начать!</span>
        <form action="/" method="post">
          <input type="submit" value="Начать">
        </form>
      </div>
    </section>
  </body>
</html>
